.login_container {
  position: relative;
  background-image: url("./../../assets/images/login-main-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container {
    background-size: 175% 130%;
  }
}

.login_container .a_change_password {
  display: inline-block;
  margin: 7% 0;
  border-radius: 30px;
  padding: 50px;
  background-color: rgba(222, 235, 241, 0.9);
  -webkit-box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.9);
  width: 36%;
  position: relative;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password {
    width: 85%;
    padding: 30px;
  }
}

.login_container .a_change_password .lock_container {
  text-align: center;
}

.login_container .a_change_password .lock_container .lock_icon {
  width: 8%;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password .lock_container .lock_icon {
    width: 11%;
  }
}

.login_container .a_change_password .lock_container .modal_heading {
  color: black;
  font-size: 26px;
  font-family: "Poppins-Medium";
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password .lock_container .modal_heading {
    font-size: 18px;
  }
}

.login_container .a_change_password .text_info {
  text-align: left;
  padding: 30px 0 15px;
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password .text_info {
    padding: 15px 0 5px;
  }
}

.login_container .a_change_password .text_info .text {
  color: #000000d9;
  font-size: 21px;
  font-family: "Poppins-Regular";
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password .text_info .text {
    font-size: 14px;
  }
}

.login_container .a_change_password .form_container {
  margin-top: 15px;
}

.login_container .a_change_password .form_container .form_control_area {
  text-align: left;
  margin-bottom: 20px;
}

.login_container .a_change_password .form_container .form_control_area .form_label {
  display: inline-block;
  color: #000000d9;
  font-size: 21px;
  font-family: "Poppins-Regular";
}

@media only screen and (min-width: 300px) and (max-width: 479px) {
  .login_container .a_change_password .form_container .form_control_area .form_label {
    font-size: 14px;
  }
}

.login_container .a_change_password .form_container .form_control_area .form_label .label_mandatory {
  color: #eb4146;
}

.login_container .a_change_password .form_container .form_control_area .form_control {
  display: block;
  width: 100%;
  border-radius: 9px;
  border: none;
  outline: none;
  line-height: 2.5;
  font-size: 16px;
  padding: 0 13px;
  font-family: "Poppins-Regular";
  color: #000000d9;
  background: #fff;
  -webkit-box-shadow: 3px 5px 10px #00000034;
          box-shadow: 3px 5px 10px #00000034;
}

.login_container .a_change_password .form_container .submit_container {
  text-align: center;
  margin-top: 30px;
}

.login_container .a_change_password .form_container .submit_container button {
  border: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  border-radius: 6px;
  padding: 10px 35px;
  display: inline-block;
  font-family: "Poppins-Regular";
  -webkit-box-shadow: 3px 5px 10px #00000062;
          box-shadow: 3px 5px 10px #00000062;
  cursor: pointer;
}
/*# sourceMappingURL=ChangePassword.css.map */