.main_section {
  position: relative;
  background-image: url("https://transas.s3.ap-south-1.amazonaws.com/TransasImages/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    background-position: top;
    background-size: 175% 130%;
  }

  .main_wrapper {
    display: flex;
    width: 90%;
    margin: auto;

    @media only screen and (min-width: 300px) and (max-width: 479px) {
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
    }

    .login_otp_container {
      display: inline-block;
      margin: 7% auto;
      border-radius: 30px;
      padding: 50px;
      background-color: #ffffff;
      box-shadow: 3px 5px 10px #000000e6;
      width: 37%;

      @media only screen and (min-width: 300px) and (max-width: 479px) {
        width: 85%;
        padding: 30px;
      }

      .login_form_container {
        form {
          .card_header {
            .lock_container {
              text-align: center;
              .lock_sub_container {
                width: 16%;
                display: inline-block;
                img {
                  width: 100%;
                }
              }
            }
            .card_heading {
              color: black;
              font-size: 21px;
              font-family: "Poppins-Medium";
              text-align: center;
              margin: 15px 0 20px 0;
            }
          }
          .card_body {
            .body_main_text {
              color: #000000d9;
              font-size: 18px;
              font-family: "Poppins-Regular";
              text-align: center;
            }
            .otp_text_container {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;
              margin-bottom: 5px;

              .enter_otp_text {
                color: #000000d9;
                font-size: 21px;
                font-family: "Poppins-Regular";
                font-size: 18px;
              }
              .timer {
                color: #2a4362;
                font-size: 21px;
                font-family: "Poppins-SemiBold";
                font-size: 18px;
              }
            }
            .enter_otp_container {
              display: flex;
              justify-content: center;
              .otpInput {
                text-align: center;
                display: inline-block;
                width: 50%;
                height: 55px;
                font-size: 30px;
                line-height: 55px;
                border: none;
                border-radius: 6px;
                padding: 20px 10px;
              }
              input {
                text-align: center;
                display: inline-block;
                width: 40px !important;
                height: 50px !important;
                font-size: 30px;
                line-height: 55px;
                border: none;
                border-radius: 6px;
                padding: 20px 0;
                box-shadow: 3px 5px 10px #00000034;
                background-color: #e1ecf2;

                @media only screen and (min-width: 300px) and (max-width: 479px) {
                  width: 32px !important;
                }
              }
            }
            .did_not_receive_otp {
              color: #000000d9;
              font-size: 21px;
              font-family: "Poppins-Regular";
              font-size: 18px;
              margin: 10px 0 25px 0;
              width: 100%;
              display: inline-block;
              text-align: center;

              .resend_section {
                color: #2a4362;
                font-size: 21px;
                font-family: "Poppins-Medium";
                display: inline-block;
                margin-left: 5px;
                cursor: pointer;
                font-size: 18px;

                img {
                  width: 13px;
                }
              }
            }
          }
          .card_footer {
            text-align: center;
            .btn {
              color: #ffffff;
              font-size: 18px;
              font-family: "Poppins-Medium";
              background-color: #001426;
              padding: 10px 20px;
              display: inline-block;
              border-radius: 6px;
              outline: none;
              border: none;
              cursor: pointer;
              transition: 0.3s;

              &:active {
                transform: scale(0.92);
              }
            }
          }
        }
      }
    }
  }
}
