.section_faq {
  padding: 0 2%;
  margin-top: 25px;
  margin-bottom: 70px;

  h1 {
    font-family: "Poppins-Bold";
    font-size: 38px;
    text-align: center;
    color: #001426;
    margin-bottom: 12px;

    @media only screen and (min-width: 300px) and (max-width: 479px) {
      font-size: 27px;
      margin-bottom: 10px;
    }
    @media only screen and (min-width: 950px) and (max-width: 1280px) {
      font-size: 30px;
    }
  }
  .main_wrapper {
    border: 1px solid black;
    border-radius: 12px;
    padding: 18px 24px;

    .wrapper_container {
      margin-bottom: 35px;
      .primary_heading {
        font-family: "Poppins-bold";
        font-size: 21px;
        line-height: 23px;
        color: #001426;
        margin-bottom: 15px;
      }
      .secondary_heading {
        font-family: "Poppins-bold";
        font-size: 21px;
        line-height: 23px;
        color: #001426;
        margin-bottom: 15px;
      }
      .body {
        .para {
          font-family: "Poppins-Regular";
          font-size: 18px;
          line-height: 23px;
          color: #001426;
          margin: 15px 0;
        }
      }
      .listing {
        list-style-position: outside;
        margin-left: 35px;
        font-family: "Poppins-Regular";
        font-size: 18px;
        line-height: 23px;
        color: #001426;
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}
