.my_change_password_container {
  position: relative;
  background-image: url("https://transas.s3.ap-south-1.amazonaws.com/TransasImages/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .login_wrapper {
    display: inline-block;
    margin: 7% 0;
    width: 50%;
    border-radius: 30px;
    padding: 50px;
    background-color: rgba(222, 235, 241, 0.9);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.9);

    @media only screen and (min-width: 300px) and (max-width: 479px) {
      width: 90%;
      padding: 40px 30px;
    }

    .card_body {
      .lock_container {
        text-align: center;
        .lock_icon {
          width: 8%;
        }

        .modal_heading {
          color: black;
          font-size: 26px;
          font-family: "Poppins-Medium";
          margin-top: 30px;
        }
      }

      .text_info {
        text-align: left;
        padding: 30px 0 15px;
        .text {
          color: #000000d9;
          font-size: 21px;
          font-family: "Poppins-Regular";
        }
      }

      .form_container {
        margin-top: 30px;

        .form_control_area {
          text-align: left;
          margin-bottom: 20px;
          position: relative;

          .form_label {
            display: inline-block;
            color: #000000d9;
            font-size: 21px;
            font-family: "Poppins-Regular";
            .label_mandatory {
              color: #eb4146;
              font-size: 25px;
            }
          }

          .eye_icon {
            position: absolute;
            display: inline-block;
            right: 1%;
            top: 43px;
            height: 40px;
            width: 15%;
            border-radius: 6px;

            @media only screen and (min-width: 300px) and (max-width: 479px) {
              top: 45px;
              right: 3%;
              width: 32px;
            }

            img {
              width: 52%;
              display: inline-block;
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              cursor: pointer;
            }
          }

          .form_control {
            display: block;
            width: 100%;
            border-radius: 9px;
            border: none;
            outline: none;
            line-height: 2.5;
            font-size: 16px;
            padding: 0 13px;
            font-family: "Poppins-Regular";
            color: #000000d9;
            background: #fff;
            box-shadow: 3px 5px 10px #00000034;
          }
        }
      }

      .a_submit {
        color: #ffffff;
        font-size: 18px;
        font-family: "Poppins-Medium";
        background-color: black;
        padding: 10px 20px;
        display: inline-block;
        border-radius: 6px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:active {
          transform: scale(0.92);
        }
      }
    }
  }
}
