.form_container_area {
  width: 73%;
  padding: 50px 40px;
  background-color: rgba(222, 235, 241, 0.9);
  border-radius: 0 30px 30px 0;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 100%;
    padding: 20px;
    border-radius: 0%;
  }

  .finance_form {
    position: relative;
    width: 100%;
    height: 100%;

    .company_id_details {
      margin: 0 40px;

      @media only screen and (min-width: 300px) and (max-width: 479px) {
        margin: 0;
      }
      .company_id {
        font-size: 18px;
        color: #001426;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Poppins-Medium";
        margin-bottom: 18px;
        @media only screen and (min-width: 950px) and (max-width: 1280px) {
          font-size: 14px;
        }
      }
    }

    .form_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 40px;

      @media only screen and (min-width: 300px) and (max-width: 479px) {
        margin: 0;
      }

      .horizontal_line {
        background: #00000038;
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 15px;
      }
      .add_bidder_container {
        margin: 0;

        .bidder {
          display: inline-block;
          font-size: 19px;
          border-radius: 50%;
          padding: 7px 0px 0px 10px;
          width: 46px;
          height: 46px;
          border: 2px solid #001426;
          margin-right: 12px;
          cursor: pointer;
          position: relative;
          font-family: "Poppins-Regular";
          margin: 6px 6px;
          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }
          .remove_bidder {
            position: absolute;
            top: 8px;
            right: -9px;
            width: 20px;

            img {
              width: 100%;
            }
          }
        }
        .completed {
          background-color: transparent;
        }
        .active {
          background-color: #001426;
          color: white;
        }
      }

      .form_control_area {
        width: 45%;
        margin-bottom: 30px;

        .select_input {
          font-family: "Poppins-Regular";
          line-height: 2.5;
          font-size: 16px;
          padding: 0 0px;
          border-radius: 6px 0px 0px 6px;
          outline: none;
          border: none;
          cursor: pointer;
          width: 44%;
          box-shadow: 3px 5px 10px #00000034;
          border-right: 1px solid #00000014;

          background-color: #fff;
          background-image: url("./../../../../../assets/images/drop-icon.svg");
          background-position: right 10px center;
          background-repeat: no-repeat;
          background-size: 12% 50%;
          -webkit-appearance: none;
          appearance: none;
        }
        .form_control_phone {
          display: inline-block;
          width: 68%;
          border-left: none;
          border-radius: 0px 6px 6px 0px;
          border: none;
          outline: none;
          line-height: 2.5;
          font-size: 16px;
          padding: 0 13px;
          font-family: "Poppins-Regular";
          color: #000000d9;
          box-shadow: 5px 5px 10px #00000034;

          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            height: 35px !important;
            font-size: 14px !important;
          }
        }

        @media only screen and (min-width: 300px) and (max-width: 479px) {
          width: 100%;
        }

        .form_label {
          display: inline-block;
          color: #000000;
          font-size: 16px;
          font-family: "Poppins-Regular";

          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }

          .label_mandatory {
            color: #eb4146;
            font-size: 25px;
          }
        }

        .form_control {
          display: block;
          width: 100%;
          border-radius: 6px;
          border: none;
          outline: none;
          line-height: 2.5;
          font-size: 16px;
          padding: 0 13px;
          font-family: "Poppins-Regular";
          color: #000000d9;
          box-shadow: 3px 5px 10px #00000034;

          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
            height: 35px;
          }
        }

        select {
          background-color: #fff;
          background-image: url("./../../../../../assets/images/drop-icon.svg");
          background-position: right 15px center;
          background-repeat: no-repeat;
          background-size: 4% 50%;
          appearance: none;
        }
        select::-ms-expand {
          display: none;
        }
      }

      .section_heading {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        h3 {
          font-size: 21px;
          color: rgba(0, 0, 0, 0.85);
          font-family: "Poppins-Medium";
          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }
        }
      }

      .form_control_spread {
        width: 100%;
        margin-bottom: 30px;

        .select__option {
          border-bottom: 1px solid black;
        }

        .form_label {
          display: inline-block;
          color: #000000;
          font-size: 18px;
          font-family: "Poppins-Regular";
          margin-bottom: 5px;

          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }

          .label_mandatory {
            color: #eb4146;
            font-size: 25px;
          }
        }

        .form_control {
          display: inline-block;
          width: 47%;
          border-radius: 6px;
          border: none;
          outline: none;
          line-height: 2.5;
          font-size: 16px;
          padding: 0 13px;
          font-family: "Poppins-Regular";
          color: #000000d9;
          box-shadow: 3px 5px 10px #00000034;
          margin-left: 20px;

          @media only screen and (min-width: 300px) and (max-width: 479px) {
            width: 100%;
            margin-left: 0;
          }
        }

        .css-319lph-ValueContainer {
          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            height: 35px !important;
            font-size: 14px !important;
            top: -4px !important;
          }
        }

        select {
          background-color: #fff;
          background-image: url("./../../../../../assets/images/drop-icon.svg");
          background-position: right 15px center;
          background-repeat: no-repeat;
          background-size: 4% 50%;
          appearance: none;
        }
        select::-ms-expand {
          display: none;
        }

        .a_control {
          display: inline-block;
          margin-right: 15px;

          input[type="radio"] {
            display: none;
          }
          label {
            position: relative;
            display: inline-block;
            padding: 3px 3px 3px 20px;
            font-size: 16px;
            font-family: "Poppins-Light";
            cursor: pointer;
            @media only screen and (min-width: 950px) and (max-width: 1280px) {
              font-size: 14px;
            }
          }
          label::before,
          label::after {
            position: absolute;
            content: "";
            top: 50%;
            border-radius: 100%;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
          label::before {
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -8px;
            background: #f3f3f3;
            border: 1px solid #284460;
          }
          label:hover::before {
            background: #fff;
          }
          label::after {
            opacity: 0;
            left: 4px;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            background: #284460;
            -webkit-transform: scale(2);
            transform: scale(2);
          }
          input[type="radio"]:checked + label::before {
            background: #fff;
            border: 1px solid #284460;
          }
          input[type="radio"]:checked + label::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        .radio_container {
          display: inline-block;
          margin-left: 50px;

          @media only screen and (min-width: 300px) and (max-width: 479px) {
            display: block;
            margin-left: 0;
          }
        }
        .set_background {
          background-color: white;
        }

        .equipment_container {
          background: white;
          border-radius: 9px;
          box-shadow: 3px 5px 10px #00000034;

          .display_carousel {
            display: none;
            @media only screen and (min-width: 300px) and (max-width: 479px) {
              display: block !important;
            }
          }
          .no_carousel {
            display: block;
            @media only screen and (min-width: 300px) and (max-width: 479px) {
              display: none !important;
            }
          }

          .awssld__content {
            background-color: transparent;
            // background-color: #fff;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          nav.awssld__bullets {
            @media only screen and (min-width: 300px) and (max-width: 479px) {
              margin-bottom: -10px;
            }
          }

          .awssld__bullets button {
            width: 10px;
            height: 10px;
            margin: 5px;
            margin-bottom: 20px;
          }
          .aws-btn {
            --slider-height-percentage: 100%;
            --slider-transition-duration: 700ms;
            --organic-arrow-thickness: 4px;
            --organic-arrow-border-radius: 0px;
            --organic-arrow-height: 17px;
            --organic-arrow-color: #1a1b1b;
            --control-button-width: 10%;
            --control-button-height: 43%;
            --control-button-background: transparent;
            --control-bullet-color: #6b6b6e;
            --control-bullet-active-color: #111111;
            --loader-bar-color: #851515;
            --loader-bar-height: 5px;
          }

          .equipment_container_heading {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid #0000001c;
            align-items: center;

            @media only screen and (min-width: 950px) and (max-width: 1280px) {
              font-size: 14px;
            }
            @media only screen and (min-width: 300px) and (max-width: 479px) {
              display: none;
            }
            .a_year {
              width: 15%;
            }

            .a_turnover {
              width: 35%;
            }

            .a_supported_document {
              width: 25%;
            }

            .a_upload_document {
              width: 25%;
              .remove_logo_container {
                float: right;
              }
            }

            .heading {
              color: #000000;
              font-size: 16px;
              font-family: "Poppins-Medium";
              // width: 25%;
              @media only screen and (min-width: 950px) and (max-width: 1280px) {
                font-size: 14px;
              }

              .lbl_mandatory {
                color: #eb4146;
                font-size: 25px;
              }
            }
          }

          .equipment_container_body_row {
            padding: 10px;
            .equipment_container_body {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              margin-bottom: 10px;

              .a_year {
                width: 15%;
              }

              .a_turnover {
                width: 35%;
              }

              .a_supported_document {
                width: 25%;
              }

              .a_upload_document {
                width: 25%;
                .remove_logo_container {
                  float: right;
                  top: -42px !important;
                  left: -7px !important;
                }
              }

              .equipment_col {
                // width: 25%;
                @media only screen and (min-width: 300px) and (max-width: 479px) {
                  width: 100%;
                }
                .mobile_label {
                  color: #000000cc;
                  font-size: 15px;
                  font-family: "Poppins-Medium";
                  display: none;

                  @media only screen and (min-width: 300px) and (max-width: 479px) {
                    display: inline-block;
                  }
                }

                .form_control {
                  width: 90%;
                  border: none;
                  border-radius: 6px;
                  padding: 8px 10px;
                  margin-left: 0;
                  line-height: unset;
                  background-color: #e1ecf2;
                  box-shadow: none;
                  -webkit-padding-end: 30px !important;
                  -webkit-padding-start: 10px !important;
                  @media only screen and (min-width: 300px) and (max-width: 479px) {
                    width: 100%;
                    margin-bottom: 15px;
                  }
                }

                .css-319lph-ValueContainer {
                  @media only screen and (min-width: 950px) and (max-width: 1280px) {
                    height: 35px !important;
                    font-size: 14px !important;
                    top: -4px !important;
                  }
                }

                .form_control_turnover {
                  width: 90%;
                  border: none;
                  border-radius: 6px;
                  padding: 8px 10px;
                  padding-bottom: 10px;
                  margin-left: 0;
                  line-height: unset;
                  background-color: #e1ecf2;
                  box-shadow: none;
                  -webkit-padding-end: 30px !important;
                  -webkit-padding-start: 10px !important;
                  @media only screen and (min-width: 300px) and (max-width: 479px) {
                    width: 100%;
                    margin-bottom: 15px;
                  }
                }

                select {
                  background-color: #e1ecf2 !important;
                  background-image: url("./../../../../../assets/images/drop-icon.svg");
                  background-position: right 10px center;
                  background-repeat: no-repeat;
                  background-size: 4% 50%;
                  appearance: none;
                }
                select::-ms-expand {
                  display: none;
                }
                .css-1hb7zxy-IndicatorsContainer {
                  display: none;
                }
                .css-yk16xz-control {
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  background-color: none;
                  border-color: none;
                  border-radius: 0px;
                  border-style: none;
                  border-width: none;
                  cursor: default;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-flex-wrap: wrap;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  -webkit-box-pack: justify;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  min-height: 100%;
                  outline: none;
                  position: relative;
                  -webkit-transition: all 100ms;
                  transition: all 100ms;
                  box-sizing: border-box;
                  background: transparent;
                }
                .css-g1d714-ValueContainer:focus-visible {
                  outline: none;
                  border: none;
                }
                .css-1pahdxg-control {
                  border-color: transparent;
                  box-shadow: 0 0 0 1px transparent;
                  background-color: transparent;
                  line-height: 1.75;
                  min-height: 1.75rem;
                  height: 2.5rem;
                }
                .css-1uccc91-singleValue {
                  margin-left: 5px;
                }

                .input_container {
                  display: flex;
                  .select_input {
                    font-family: "Poppins-Regular";
                    line-height: 1.75;
                    font-size: 16px;
                    padding: 0px 15px 0px 5px;
                    border-radius: 6px 0px 0px 6px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    width: 32%;
                    box-shadow: -3px 5px 10px #00000034;
                    border-right: 1px solid #00000014;
                    background-color: #e1ecf2 !important;
                    background-image: url("./../../../../../assets/images/drop-icon.svg");
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                    background-size: 7% 50%;
                    -webkit-appearance: none;
                    appearance: none;
                    .select-currency__option {
                      text-align: center;
                    }
                    .select-currency__option:nth-child(2) {
                      border-bottom: 1px solid black;
                    }
                  }
                  .form_control_phone {
                    text-align: center;
                    width: 56%;
                    border: none;
                    display: inline-block;
                    border-radius: 0px 6px 6px 0px;
                    padding: 8px 0px;
                    font-size: 16px;
                    margin-left: 0;
                    line-height: 24px;
                    font-family: "Poppins-Regular";
                    line-height: unset;
                    background-color: #e1ecf2;
                    box-shadow: none;
                    outline: none;

                    @media only screen and (min-width: 950px) and (max-width: 1280px) {
                      height: 35px !important;
                      font-size: 14px !important;
                    }

                    @media only screen and (min-width: 300px) and (max-width: 479px) {
                      width: 60%;
                    }
                  }
                }
                .set_background {
                  background-color: white;
                }

                .a_upload {
                  //background-color: #fff;
                  display: block;
                  padding: 3px;
                  border-radius: 6px;
                  border: 2px solid #001426;
                  font-size: 15px;
                  text-align: center;
                  width: 90%;
                  cursor: pointer;
                  font-family: "Poppins-Medium";
                  @media only screen and (min-width: 300px) and (max-width: 479px) {
                    width: 100%;
                  }
                }
                input[type="file"] {
                  display: none;
                }
                .uploadFileName {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  @media only screen and (min-width: 300px) and (max-width: 479px) {
                    position: absolute;
                  }
                }
              }
            }
          }
        }
      }

      .terms_and_condition_container {
        display: block;
        width: 100%;
        .form_control_checkbox {
        }
        .label_term {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.85);
          font-family: "Poppins-Regular";
          margin-left: 10px;
        }
      }

      .form_submit_container {
        width: 100%;
        text-align: right;
        margin-top: 0px;

        @media only screen and (min-width: 300px) and (max-width: 479px) {
          text-align: center;
          margin-top: 10px;
        }

        .btn {
          color: #ffffff;
          font-size: 18px;
          font-family: "Poppins-Medium";
          background-color: #001426;
          padding: 10px 20px;
          display: inline-block;
          border-radius: 6px;
          outline: none;
          border: none;
          cursor: pointer;
          border: 2px solid #001426;
          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }
        }

        .btn_submit_form {
          transition: 0.3s;

          @media only screen and (min-width: 950px) and (max-width: 1280px) {
            font-size: 14px;
          }

          &:active {
            transform: scale(0.92);
          }

          @media only screen and (min-width: 300px) and (max-width: 479px) {
            margin-top: 5px;
          }
        }

        .btn_add_bidder {
          background-color: transparent;
          color: #001426;
          margin-right: 10px;
          transition: 0.3s;

          &:active {
            transform: scale(0.92);
          }

          @media only screen and (min-width: 300px) and (max-width: 479px) {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.input_container_phone {
  display: flex;
  .select_input {
    font-family: "Poppins-Regular" !important;
    line-height: 1.75;
    font-size: 16px;
    padding: 0 0px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 32%;
    box-shadow: 3px 5px 10px #00000034;
    border-right: 1px solid #00000014;
    background-color: #fff;
    background-image: url("./../../../../../assets/images/drop-icon.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12% 50%;
    -webkit-appearance: none;
    appearance: none;
    .css-1pahdxg-control {
      border-color: none !important;
      box-shadow: 0 0 0 1px transparent;
      background-color: transparent;
      line-height: 1.75;
      min-height: 1.75rem;
      height: 2.5rem;
      border: none;
    }
  }
  .select_input_disabled {
    line-height: 1.9;
    font-size: 16px;
    padding: 0px 15px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 44%;
    box-shadow: 3px 5px 10px #00000034;
    border-right: 1px solid #00000014;
    background-color: #fff;
    background-image: url("./../../../../../assets/images/drop-icon.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12% 50%;
    -webkit-appearance: none;
    appearance: none;
    .css-1pahdxg-control {
      border-color: none !important;
      box-shadow: 0 0 0 1px transparent;
      background-color: transparent;
      line-height: 1.75;
      min-height: 1.75rem;
      height: 2.5rem;
      border: none;
    }
  }
}
.form_control_enable {
  display: inline-block;
  width: 47%;
  border-radius: 6px;
  border: none;
  outline: none;
  line-height: 2.5;
  font-size: 16px;
  padding: 0 0px;
  font-family: "Poppins-Regular";
  color: #000000d9;
  box-shadow: 3px 5px 10px #00000034;
  margin-left: 20px;
  background-image: url("./../../../../../assets/images/drop-icon.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 4% 50%;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 100%;
    margin-left: 0;
  }
  .css-1pahdxg-control {
    border-color: none !important;
    box-shadow: 0 0 0 1px transparent;
    background-color: transparent;
    line-height: 1.75;
    min-height: 1.75rem;
    height: 2.5rem;
    border: none;
  }
}
