.modal_addition {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  width: 36% !important;
  height: 400px;
  animation: fadein 0.6s;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 85% !important;
    height: 250px;
    padding: 28px;
  }

  .display_user {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    width: 312px;
    @media only screen and (min-width: 300px) and (max-width: 479px) {
      width: 200px;
    }
  }
  .login_info_maintenance {
    color: #001426;
    font-size: 35px;
    text-align: center;
    font-family: "Poppins-Medium";
    padding: 0 30px;
    margin-top: 80px;
    @media only screen and (min-width: 300px) and (max-width: 479px) {
      font-size: 26px;
      margin-top: 40px;
      padding: 0;
    }
  }

  .close_container_charges {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #fff;
    border-radius: 50%;
    width: 44px;
    height: 43px;
    text-align: center;
    border: 3px solid black;
    cursor: pointer;

    .close_icon {
      font-size: 35px;
      display: inline-block;
      font-weight: bold;
      margin-top: -7px;
    }
  }
}
