.add_new_request_container {
  width: 81%;
  background-color: #f8fdff;
  padding: 20px;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 100%;
  }

  .bredcrum {
    color: #000000b3;
    font-size: 12px;
    font-family: "Poppins-Regular";
    .active_page {
      color: #002c54;
      font-size: 12px;
      font-family: "Poppins-Medium";
    }
  }

  .main_heading {
    color: #001426;
    font-size: 18px;
    font-family: "Poppins-Medium";
    margin-top: 10px;
  }

  .request_form {
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 2px 4px 8px #00000029;

    .horizontal_line {
      margin-bottom: 10px;
      margin-top: 10px;
      border-top: 1px solid #70707033;
    }

    .request_details_1,
    .request_details_2,
    .request_details_3 {
      display: flex;
      flex-wrap: wrap;
      .form_input_container {
       width: 38%;
        margin-bottom: 13px;

        @media only screen and (min-width: 300px) and (max-width: 479px) {
          width: 100%;
        }

        &:not(:nth-child(3n)) {
          margin-right: 2%;
        }
        label {
          display: block;
          color: #001426;
          font-size: 16px;
          font-family: "Poppins-Regular";
          margin-bottom: 4px;
        }

        .input_control {
          display: block;
          background-color: #deebf1;
          width: 95%;
          border-radius: 9px;
          border: none;
          outline: none;
          line-height: 2.5;
          font-size: 16px;
          padding: 0 13px;
          font-family: "Poppins-Regular";
          color: #000000d9;
          box-shadow: 1px 2px 6px #0000001a;
        }

        .select_input_control {
          display: block;
          background-color: #deebf1;
          width: 95%;
          border-radius: 9px;
          border: none;
          outline: none;
          line-height: 2.5;
          font-size: 16px;
          padding: 0 13px;
          font-family: "Poppins-Regular";
          color: #000000d9;
          box-shadow: 1px 2px 6px #0000001a;

          background-image: url("./../../../../assets/images/drop-icon.svg");
          background-position: right 12px center;
          background-repeat: no-repeat;
          background-size: 8% 17%;
          appearance: none;
        }
      }
    }
  }

  .form_submit_container {
    width: 100%;
    text-align: right;
    margin-top: 20px;

    @media only screen and (min-width: 300px) and (max-width: 479px) {
      text-align: center;
    }

    .btn {
      color: #ffffff;
      font-size: 16px;
      font-family: "Poppins-Medium";
      background-color: #001426;
      padding: 8px 20px;
      display: inline-block;
      border-radius: 6px;
      outline: none;
      border: none;
      cursor: pointer;
      border: 2px solid #001426;
    }
    .btn_cancel {
      background-color: transparent;
      color: #001426;
      transition: 0.3s;

      &:active {
        transform: scale(0.92);
      }
    }
    .btn_update {
      transition: 0.3s;
      margin-right: 10px;

      &:active {
        transform: scale(0.92);
      }
    }
  }
}
.timeManagement_class{
  display: flex;
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    flex-direction: column;
  }
}
.addNewRequest_heading{
text-align: left;
font-family: "Poppins-Medium";
font-size: 16px;
letter-spacing: 0px;
color: #001426;
opacity: 1;
display: flex;
flex-wrap: wrap;


}
.color_container_box{
  display: flex;
  justify-content: flex-end;
  width: 48%;
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 100%;
  }
}
.form_input_container_time{
  width: 50%;
  margin-bottom: 13px;
  display: flex;

  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 100%;
  }
  .select_input_time {
    display: block;
    background-color: #deebf1;
    width: 100%;
    border-radius: 9px;
    border: none;
    outline: none;
    line-height: 2.5;
    font-size: 16px;
    padding: 0 13px;
    font-family: "Poppins-Regular";
    color: #000000d9;
    box-shadow: 1px 2px 6px #0000001a;
    background-image: url("./../../../../assets/images/drop-icon.svg");
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 8% 17%;
    appearance: none;

   
    option:nth-child(2){
      background-color: #00A166 !important;
    }
    option:nth-child(3){
      background-color: #F5A456 !important;
    }
    option:nth-child(4){
      background-color: #F0453B !important;
    }
  }
  .select_input_perticularTime{
    display: block;
    background-color: #deebf1;
    width: 100%;
    border-radius: 9px;
    border: none;
    outline: none;
    line-height: 2.5;
    font-size: 16px;
    padding: 0 13px;
    font-family: "Poppins-Regular";
    color: #000000d9;
    box-shadow: 1px 2px 6px #0000001a;
    background-image: url("./../../../../assets/images/drop-icon.svg");
    background-position: right 12px center;
    background-repeat: no-repeat;
    background-size: 8% 17%;
    appearance: none;
  }
}
.first_time_container{
  width: 40%;
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 50%;
  }
}
.second_time_container{
  width: 27%;
  margin-left: 35px;
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    width: 37%;
  margin-left: 20px;
  }
}
.general_block{
  width: 20px;
  height: 20px;
  background-color: #00A166;
}
.urgent_block{
  width: 20px;
  height: 20px;
  background-color: #F5A456;
}
.emergency_block{
  width: 20px;
  height: 20px;
  background-color: #F0453B;
}
.indicate_box{
  display: flex;
  margin-left: 35px;
  margin-top: 12px;
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    margin-left: 6px;
  }

  div{
    font-family: "Poppins-Medium";
font-size: 16px;
letter-spacing: 0px;
line-height: 1.3;
margin-left: 10px;
color: #001426;
  }
}
.msg_box{
  width: 100%;
  height: 326px;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #001426;
  border-radius: 9px;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #1C2429;
  font-family: "Poppins-Regular";
  font-size: 14px;
  overflow-y: auto;

}
.msg_box::-webkit-scrollbar {
  display: none;
}